{% extends 'home/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container mt-4">
        <h2 class="alert alert-info text-center">Add New Department</h2>
        <h3>Department</h3>
        <div class="my-4">

            <form action="" method="post">
                {% csrf_token %}
            <input type="text" name="name" class="form-control mb-3" placeholder='Create new department'>
            <input type="Submit" name="submit">
            </form>
        </div>

    </div>
{% endblock %}