{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/aadvisingpage.css' %}">
<!-- Hero section

<img src="static/images/versity.jpg" alt="Girl in a jacket" style="background-repeat: no-repeat; background-size: 100% 100%;">
-->
<div class="bg-image"
     style="background-image: url('static/images/versity.jpg');
            background-size: 100% 100%;
             height: 100vh">
</div>

<!--<div class="centered" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1>Multi-regulated <br> global broker. </h1>
    <p id="header-paragraph">A trusted destination for traders worldwide, <br> Authorised by FCA, ASIC & FSCA</p>


</div>-->



{% endblock content %}

<!--   width="1545px" height="820px"-->